---
layout: default
---
{% for post in paginator.posts %}
<h2>
    <div class="row">
        <ul class="navb navbar-nav">
            <li class="post-date-list">
                <div class="post-date-list">
                    <span class="glyphicon glyphicon-time"></span>
                    [{{ post.date | date_to_string }}]
                </div>
            </li>

            <li>
                <a href="{{ post.url }}" style="color:black">
                    {{ post.title }}
                </a> 
            </li>

        </ul>
    </div>
</h2>
{% endfor %}
<!-- Pager -->
<ul class="pager">
    {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
    <li class="previous">
        <a href="{{ site.url }}/"  style="color:black">
            &larr; Previous
        </a>
    </li>
    {% else %}
    <li class="previous">
        <a href="{{ site.url }}/page{{ paginator.previous_page }}" style="color:black">
            &larr; Previous
        </a>
    </li>
    {% endif %} {% endif %} {% if paginator.next_page %}
    <li class="next">
        <a href="{{ site.url }}/page{{ paginator.next_page }}" style="color:black">
            Next &rarr;
        </a>
    </li>
    {% endif %}
</ul>
